@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root,
.App {
  height: 100%;
}

tr:nth-child(even) {
  background-color: #bbc9c9;
}

.progress-ease {
  transition: width 1s ease;
}
